# numpad buy binds
bind "kp_divide" "buy fiveseven;buy tec9"
bind "kp_multiply" "buy taser;"
bind "kp_minus" "buy p250;"
bind "kp_7" "buy vest;"
bind "kp_8" "buy vesthelm;buy vest;"
bind "kp_9" "buy defuser;"
bind "kp_4" "buy ak47;buy m4a1_silencer;"
bind "kp_5" "buy mp9;buy mac10;"
bind "kp_6" "buy deagle;"
bind "kp_1" "buy flashbang;"
bind "kp_2" "buy smokegrenade;"
bind "kp_3" "buy molotov;buy incgrenade;"
bind "kp_0" "buy hegrenade;"
bind "kp_del" "buy decoy;"
bind "kp_enter" "buy galilar;buy famas;"
bind "kp_plus" "buy awp;"

# follow recoil crosshair toggle
alias active "cl_crosshaircolor_r 0; cl_crosshaircolor_g 255; cl_crosshaircolor_b 0; cl_crosshair_recoil true"
alias passive "cl_crosshaircolor_r 255; cl_crosshaircolor_g 0; cl_crosshaircolor_b 255; cl_crosshair_recoil false"
alias xhair "xhair1";
alias xhair1 "active; alias xhair xhair2"
alias xhair2 "passive; alias xhair xhair1"
bind "mouse5" "xhair"

# rethrow last grenade
bind "end" "sv_rethrow_last_grenade;"

# clear all smokes
bind "home" ent_fire smokegrenade_projectile kill

# noclip
bind "ins" "noclip"

host_writeconfig;
echo ";"
echo ";"
echo "autoexec.cfg loaded, GLHF my g;"
echo ";"
echo ";"
