# create aliases for buys
alias buyvest "buy x 32;"
alias buyvesthelm "buy x 33;"
alias buyzeus "buy x 34;"
alias buykit "buy x 35;"

alias buystartingpistol "buy x 2;"
alias buypistol2 "buy x 3;"
alias buypistol3 "buy x 4;"
alias buypistol4 "buy x 5;"
alias buypistol5 "buy x 6;"

alias buymid1 "buy x 8;"
alias buymid2 "buy x 9;"
alias buymid3 "buy x 10;"
alias buymid4 "buy x 11;"
alias buymid5 "buy x 12;"

alias buyrifle1 "buy x 14;"
alias buyrifle2 "buy x 15;"
alias buyrifle3 "buy x 16;"
alias buyrifle4 "buy x 17;"
alias buyrifle5 "buy x 18;"

alias buyflash "buy x 26;"
alias buysmoke "buy x 27;"
alias buyhe "buy x 28;"
alias buymolly "buy x 29;"
alias buydecoy "buy x 30;"

# create aliases for drops
alias dropzeus "buy x 34 x;"

alias dropstartingpistol "buy x 2 x;"
alias droppistol2 "buy x 3 x;"
alias droppistol3 "buy x 4 x;"
alias droppistol4 "buy x 5 x;"
alias droppistol5 "buy x 6 x;"

alias dropmid1 "buy x 8 x;"
alias dropmid2 "buy x 9 x;"
alias dropmid3 "buy x 10 x;"
alias dropmid4 "buy x 11 x;"
alias dropmid5 "buy x 12 x;"

alias droprifle1 "buy x 14 x;"
alias droprifle2 "buy x 15 x;"
alias droprifle3 "buy x 16 x;"
alias droprifle4 "buy x 17 x;"
alias droprifle5 "buy x 18 x;"

alias dropflash "buy x 26 x;"
alias dropsmoke "buy x 27 x;"
alias drophe "buy x 28 x;"
alias dropmolly "buy x 29 x;"
alias dropdecoy "buy x 30 x;"

# create aliases for refunds
alias refundvest "sellback 32;"
alias refundvesthelm "sellback 33;"
alias refundzeus "sellback 34;"
alias refundkit "sellback 35;"

alias refundstartingpistol "sellback 2;"
alias refundpistol2 "sellback 3;"
alias refundpistol3 "sellback 4;"
alias refundpistol4 "sellback 5;"
alias refundpistol5 "sellback 6;"

alias refundmid1 "sellback 8;"
alias refundmid2 "sellback 9;"
alias refundmid3 "sellback 10;"
alias refundmid4 "sellback 11;"
alias refundmid5 "sellback 12;"

alias refundrifle1 "sellback 14;"
alias refundrifle2 "sellback 15;"
alias refundrifle3 "sellback 16;"
alias refundrifle4 "sellback 17;"
alias refundrifle5 "sellback 18;"

alias refundflash "sellback 26;"
alias refundsmoke "sellback 27;"
alias refundhe "sellback 28;"
alias refundmolly "sellback 29;"
alias refunddecoy "sellback 30;"

# create alias to apply all binds to numpad
alias applybuybinds "bind kp_divide buypistol4; bind kp_multiply buyzeus; bind kp_minus buypistol2; bind kp_7 buyvest; bind kp_8 buyvesthelm; bind kp_9 buykit; bind kp_4 buyrifle1; bind kp_5 buymid5; bind kp_6 buypistol5; bind kp_1 buyflash; bind kp_2 buysmoke; bind kp_3 buymolly; bind kp_0 buyhe; bind kp_del buydecoy; bind kp_plus buyrifle5; bind kp_enter buyrifle3;"

alias applydropbinds "bind kp_divide droppistol4; bind kp_multiply dropzeus; bind kp_minus droppistol2; bind kp_4 droprifle1; bind kp_5 dropmid5; bind kp_6 droppistol5; bind kp_1 dropflash; bind kp_2 dropsmoke; bind kp_3 dropmolly; bind kp_0 drophe; bind kp_del dropdecoy; bind kp_plus droprifle5; bind kp_enter droprifle3;"

alias applyrefundbinds "bind kp_divide refundpistol4; bind kp_multiply refundzeus; bind kp_minus refundpistol2; bind kp_7 refundvest; bind kp_8 refundvesthelm; bind kp_9 refundkit; bind kp_4 refundrifle1; bind kp_5 refundmid5; bind kp_6 refundpistol5; bind kp_1 refundflash; bind kp_2 refundsmoke; bind kp_3 refundmolly; bind kp_0 refundhe; bind kp_del refunddecoy; bind kp_plus refundrifle5; bind kp_enter refundrifle3;"

alias +makestandardalt "applydropbinds; +cl_show_team_equipment;"
alias -makestandardalt "applybuybinds; -cl_show_team_equipment;"

alias +makestandardshift "applyrefundbinds; +sprint;"
alias -makestandardshift "applybuybinds; -sprint;"

bind alt +makestandardalt
bind shift +makestandardshift

applybuybinds

